# 데이터 읽어오기

In [68]:
import pandas as pd
movies = pd.read_csv("./dataset/tmdb_5000_movies.csv")         # tmdb_5000_movies.csv dataframe으로 읽어오기
movies = movies[["id","genres","vote_average","vote_count","popularity","original_title", "keywords","overview"]]
movies.drop(["genres","vote_average","vote_count","popularity", "keywords","overview"],axis=1,inplace=True)

print(movies.shape)
movies.head()

(4803, 2)

       id                            original_title
0   19995                                    Avatar
1     285  Pirates of the Caribbean: At World's End
2  206647                                   Spectre
3   49026                     The Dark Knight Rises
4   49529                               John Carter

In [69]:
# 컬럼명 변경
movies.columns = ['tmdbId', 'original_title']
movies.head()

   tmdbId                            original_title
0   19995                                    Avatar
1     285  Pirates of the Caribbean: At World's End
2  206647                                   Spectre
3   49026                     The Dark Knight Rises
4   49529                               John Carter

In [70]:
# links.csv dataframe으로 읽어오기
links = pd.read_csv("./dataset/links_small.csv")
links = links[["movieId","imdbId","tmdbId"]]
links.drop(['imdbId'],axis=1,inplace=True)

print(links.shape)
links.head()

(9125, 2)

   movieId   tmdbId
0        1    862.0
1        2   8844.0
2        3  15602.0
3        4  31357.0
4        5  11862.0

In [71]:
# ratings.csv dataframe으로 읽어오기
ratings = pd.read_csv("./dataset/ratings_small.csv")   
ratings = ratings[["userId","movieId","rating","timestamp"]]
ratings.drop(["timestamp"],axis=1,inplace=True)

print(ratings.shape)
ratings.head()

(100004, 3)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

## 결측값 확인

In [72]:
# null 값 개수 확인
movies.isnull().sum()

tmdbId            0
original_title    0
dtype: int64

In [73]:
# null 값 개수 확인
links.isnull().sum()

movieId     0
tmdbId     13
dtype: int64

In [74]:
# 결측값 있는 로우 제거
links = links.dropna(axis=0)

# 타입변환
links["tmdbId"] = links["tmdbId"].astype("int")

links.head()

   movieId  tmdbId
0        1     862
1        2    8844
2        3   15602
3        4   31357
4        5   11862

In [75]:
# null 값 개수 확인
ratings.isnull().sum()

userId     0
movieId    0
rating     0
dtype: int64

## 데이터 프레임끼리 inner join

In [76]:
join_movie = pd.merge(ratings, links, left_on='movieId', right_on='movieId', how='inner')
print(join_movie)

       userId  movieId  rating  tmdbId
0           1       31     2.5    9909
1           7       31     3.0    9909
2          31       31     4.0    9909
3          32       31     4.0    9909
4          36       31     3.0    9909
...       ...      ...     ...     ...
99928     664    64997     2.5   34812
99929     664    72380     3.5   22825
99930     665      129     3.0  110972
99931     665     4736     1.0   26602
99932     668     6425     1.0   36807

[99933 rows x 4 columns]

In [77]:
join_movie = pd.merge(join_movie, movies, left_on='tmdbId', right_on='tmdbId', how='inner')
print(join_movie)

       userId  movieId  rating  tmdbId  original_title
0           1     1061     3.0     819        Sleepers
1          19     1061     3.0     819        Sleepers
2          23     1061     3.5     819        Sleepers
3          30     1061     3.0     819        Sleepers
4          70     1061     5.0     819        Sleepers
...       ...      ...     ...     ...             ...
66942     663   134528     3.5  222936           Aloha
66943     663   137595     3.0  264999  Magic Mike XXL
66944     664    60832     3.0   12192       Pathology
66945     664    72380     3.5   22825         The Box
66946     665     4736     1.0   26602    Summer Catch

[66947 rows x 5 columns]

In [78]:
join_movie["original_title"].value_counts()

Forrest Gump                341
Pulp Fiction                324
The Shawshank Redemption    311
The Silence of the Lambs    304
Star Wars                   291
                           ...
I, Frankenstein               1
Bandidas                      1
Def-Con 4                     1
Take Me Home Tonight          1
The Good German               1
Name: original_title, Length: 3393, dtype: int64

In [79]:
# # movies에 있던 모든 영화가 join이 잘 됐는지 확인 -> 여긴 발표할 때는 빼도 될 듯..
# after = join_movie["tmdbId"].unique()
# print(len(after))
# print(movies.shape)

## latent 알고리즘

### 피벗테이블 생성

In [80]:
user_movie_rating = join_movie.pivot_table('rating', index = 'userId', columns='tmdbId').fillna(0)
print(user_movie_rating.shape)
user_movie_rating.head()

(671, 3394)

tmdbId  5       11      12      13      ...  333371  334074  342521  347969
userId                                  ...
1          0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2          0.0     0.0     0.0     3.0  ...     0.0     0.0     0.0     0.0
3          0.0     0.0     3.0     5.0  ...     0.0     0.0     0.0     0.0
4          0.0     5.0     0.0     5.0  ...     0.0     0.0     0.0     0.0
5          0.0     0.0     4.0     4.0  ...     0.0     0.0     0.0     0.0

[5 rows x 3394 columns]

## 특이값 분해 (Singular Value Decomposion, SVD)
행렬을 여러 행렬의 곱으로 분해해준다. </br>
[참고 사이트](https://ratsgo.github.io/from%20frequency%20to%20semantics/2017/04/06/pcasvdlsa/)

scipy의 Truncated SVD 이용 </br>

반환값: U 행렬, Sigma 행렬, V 전치 행렬(Vt)

In [81]:
from scipy.sparse.linalg import svds
import numpy as np

# scipy에서 제공해주는 svd.  
# U 행렬, sigma 행렬, V 전치 행렬을 반환.

U, sigma, Vt = svds(user_movie_rating, k = 670)


print(U.shape)
print(sigma.shape)
print(Vt.shape)

(671, 670)
(670,)
(670, 3394)


현재 이 Sigma 행렬은 0이 아닌 값만 1차원 행렬로 표현된 상태->0이 포함된 대칭행렬로 변환할 때는 numpy의 diag를 이용

In [82]:
sigma = np.diag(sigma)

tmp = pd.DataFrame(data=sigma, index=None, columns=None, dtype=None, copy=False)
print(tmp.shape)
tmp.head()

(670, 670)

        0         1         2         3         4    ...  665  666  667  668  669
0  1.438755  0.000000  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0
1  0.000000  1.513445  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0
2  0.000000  0.000000  1.639906  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0
3  0.000000  0.000000  0.000000  1.744034  0.000000  ...  0.0  0.0  0.0  0.0  0.0
4  0.000000  0.000000  0.000000  0.000000  1.800951  ...  0.0  0.0  0.0  0.0  0.0

[5 rows x 670 columns]

## 원래 행렬로 복구

U, Sigma, Vt의 내적을 수행

In [83]:
# U, Sigma, Vt의 내적을 수행하면, 다시 원본 행렬로 복원이 된다. 

svd_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [84]:
df_svd_preds = pd.DataFrame(svd_user_predicted_ratings, columns = user_movie_rating.columns)
print(df_svd_preds.shape)
df_svd_preds.head()

(671, 3394)

tmdbId    5         11        12      ...        334074        342521        347969
0       0.000056  0.000076 -0.000007  ... -5.002036e-06  1.313703e-06  1.069648e-06
1      -0.001415 -0.001928  0.000175  ...  1.267771e-04 -3.329593e-05 -2.711033e-05
2       0.000103  0.000141  2.999987  ... -9.239842e-06  2.426693e-06  1.975870e-06
3       0.000020  5.000028 -0.000003  ... -1.828962e-06  4.803468e-07  3.911097e-07
4      -0.000005 -0.000007  4.000001  ...  4.585146e-07 -1.204213e-07 -9.804989e-08

[5 rows x 3394 columns]